@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

body{
  background-color: rgb(100, 100, 100);
}


#container{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 60%;
}


.gridItem-input{
  grid-column: 1 / 5;
  grid-row: span 2;
}


.gridItem-operator:nth-of-type(5){
  grid-column: 4 / 5;
}


.gridItem-number:nth-of-type(8){
  grid-column: 1 / 2;
}


.gridItem-operator:nth-of-type(7){
  grid-column: 4 / 5;
}


.gridItem-operator:nth-of-type(6){
  grid-column: 4 / 5;
}


.gridItem-number:nth-of-type(9),
.gridItem-number:nth-of-type(8),
.gridItem-number:nth-of-type(10){
  grid-row: 4 / 5;
}


.gridItem-number:nth-of-type(11),
.gridItem-number:nth-of-type(12),
.gridItem-number:nth-of-type(13){
  grid-row: 5 / 6;
}


.gridItem-number:nth-of-type(14),
.gridItem-number:nth-of-type(15),
.gridItem-number:nth-of-type(16){
  grid-row: 6 / 7;
}


.gridItem-equals{
  grid-column: 3 / 5;
}


#resultInput {
  height: 40%;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px -2px black;
  padding-left: 5%;
  padding-top: 2%;
}

#currentInput {
  height: 100%;
  font-size: 1.5rem;
  padding-left: 5%;
  padding-top: 3%;
}

.gridItem-equals {
  background-color: rgb(255, 180, 40);
}
.gridItem-equals:hover {
  background-color: orange;
}

button {
  border: 0;
}

.gridItem-clear,
.gridItem-delete,
.gridItem-operator {
  background-color: rgb(199, 199, 199);
}

.gridItem-clear:hover,
.gridItem-delete:hover,
.gridItem-operator:hover {
  background-color: rgb(149, 149, 149);
}

.gridItem-number:hover {
  background-color: rgb(226, 226, 226);
}